body {
  border: none;
  margin: 0;
  text-size-adjust: 1rem;
  background-image: url("/images/background-2.png"),
    linear-gradient(rgb(25, 25, 25), rgb(44, 44, 44));
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  width: 100vw;
  min-height: 100vh;
  font-weight: bolder;
}
